* {
    margin: 0;
    padding: 0;
}

#game-grid {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 800px;
}

.game-cell {
    display: block;
    position:  relative;
    float: left;
    width: 100px;
    height: 100px;
    /* background-color: #707070; */
}

.game-cell:hover {
    background-color: #000000;
}

.selected-cell {
    background-color: blue;
}
.selected-cell:hover {
    background-color: blue;
}

#game-grid img {
    position: absolute;
    margin: auto;
    z-index: 100;
}