 @font-face { font-family: Brewsky; src: url('../fonts/Brewsky.ttf'); } 


* {
    margin: 0;
    padding: 0;
}

#game-grid {
    display: block;
    margin: 0 auto;
	border: 4px double blue;
	background:  #ffcc99;
    overflow: hidden;
}

.game-cell {
    display: block;
    position:  relative;
    float: left;
    width: 64px;
    height: 64px;
    /* background-color: #707070; */
}

/* .game-cell:hover {
    background-color: #0000ff;
} */

.selected-cell {
    z-index: 0;
    background-color: blue;
}

.selected-cell:hover {
    background-color: blue;
}

#game-grid img {
    position: absolute;
    margin: auto;
    z-index: 100;
}

.destroyed {
/*     display: none;
    background-color: red;
    width: 32px;
    height: 32px; */
}

h1 {
	font-family: Brewsky, sans-serif; 
	color: red; 
	text-align: center;
	font-size: 500%;
}

body {
	background: url(../img/back.jpg) Black no-repeat;
	background-size: cover cover;
}